@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-v7-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Inktrap';
    src: url('fonts/WhyteInktrap-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'ShareTechMono';
    src: url('fonts/ShareTechMono-Regular.ttf') format('truetype');
}

body {
    width: 100vw;
    margin: 0;
    height: 100vh;

    font-family: Inter;

    display: grid;
    grid-template:
        'nav output' minmax(min-content, 2fr)
        'nav editor' 1fr
          / min-content minmax(min-content, 1fr);
}

/* font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inktrap';

}

/* margin */

.m2 {
    margin: 8px;
}

.m3 {
    margin: 16px;
}

/* border */

.border-right {
    border-right: 1px solid #ddd !important;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

/* grid */

.side-bar {
    grid-area: nav;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    resize: horizontal;
}

.editor {
    grid-area: editor;
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}

.editor h3 {
    margin: 0;
    padding: 7px 0 0 4px;
}

.editor>* {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.editor textarea {
    flex-grow: 1;
    font-family: monospace;
    padding: 4px;
}

#html-editor {
    grid-area: html;
    /* resize: vertical; */
    overflow: auto;
}

#css-editor {
    grid-area: css;
}

#output-field {
    overflow: auto;
    resize: vertical;
    grid-area: output;
    padding: 16px;
}

.browser {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    height: 100%;
    display: flex;
flex-direction: column;
}

.browser > img {
    width: 100%;
}

/* basics */

#information {
    flex-grow: 1;
    overflow-y: auto;
}

.box.editor {
    background-color: #EEF5F0;
}


.box.editor:focus-within {
    border: solid 2px #CABDFC;
}

.box.info {
    background-color: #EEF5F0;
    border: none;
}

.box>.box-header {
    margin-left: 4px;
    margin-top: -1em;
    margin-bottom: 0;

    font-family: 'Inktrap', 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#step-info {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(71, 71, 71);
    padding: 4px;
    overflow-y: auto;
    /* mask-image: linear-gradient(to bottom, #EEF5F0 90%, transparent 100%); */
}

#step-info em {
    border: solid 1px #FEDFB2;
    background-color: #FEDFB255;
    border-radius: 8px;
    padding: 2px 4px;
    font-style: normal;
    font-family: 'ShareTechMono', monospace !important;
    color: rgb(121, 121, 121) !important;

}

/* editor */

.editor-input {
    font-family: 'ShareTechMono', monospace !important;
    color: rgb(27, 27, 27);
    margin: 2px;
    font-family: monospace;
    border: none;
    line-height: 1.5em;
    resize: none;


    /* background-position: 0 .1em;

    background-attachment: local;
    background-image: linear-gradient(transparent 50%, #CCDED233 50%);
    background-size: 100% 3rem; */
}

#css-input.editor-input {
}

/* nav */


nav {
    display: flex;
    align-items: stretch;
    gap: 2px;
    font-family: 'Inktrap', 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

nav img {
    height: 100%;
}

nav #tutorial-select {
    background-color: white;
    font-weight: bold;
    padding: 9px 16px 9px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

nav #title {
    font-size: 1em;
}

nav #counter {
    background-color: #FEDFB2;
    padding: 11px 16px 5px 16px;
    border-radius: 16px;
    text-align: center;
    color: white;
}

nav div {
    flex-grow: 1;

}

button, nav a {
    /* height: 2.5em; */
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

nav a {
    padding: 11px 16px 5px 16px;
}

.step-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* output */

#output {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    border: none;
}

/* general */

.logo {
    /* width: 20px; */
    height: 24px;
    padding: 8px;
}