/* Generelles Design */

body {
    background-color: #fee6e6;

    background-attachment: fixed;
    background-image: url(https://code-editor.digital/Bilder/hintergrund2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.bg-blog {
    background-image: url(https://code-editor.digital/Bilder/hintergrund1.jpg);
}

a {
    color: #3fa138;
    text-decoration: none;
}


/* Navigationsleiste (oben) */

nav {
    color: white;
    background-color: #c2a07e;
    box-shadow: 0 4px 12px #0004;
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 12px 16px;
    text-transform: uppercase;
}

nav>span:first-child {
    flex-grow: 1;
}

nav a {
    color: white;
    text-decoration: none;
} 

.active-page {
    border-bottom: 4px solid white;
    margin-bottom: -4px;
}


/* Inhalt */

main {
    max-width: 800px;
    padding: 16px;
    margin: 0 auto;
}


section {
    background-color: rgb(240, 231, 220);
    border-radius: 12px;
    box-shadow: 0 4px 24px #0004;
    padding: 16px;
    margin-bottom: 64px;
}

.list {
    padding-left: 24px;
}

.list>li {
    margin-bottom: 4px;
}


/* Neues - Abschnitt */

#neues img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
    float: right;
    box-shadow: 0 0 12px #0004;
}


/* Bilder Galerie - Abschnitt */

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.img-grid>img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 4px;
}

.img-grid-text {
    color: white;
    border-radius: 4px;
    background-color: #c2a07e;
    padding: 64px;
    text-transform: uppercase;
}

/* footer */
footer {
    background-color: #c2a07e;
    padding: 32px 16px;
    font-family: sans-serif;
    font-weight: 100;
    color: #54371b;
    line-height: 2;
}

footer>ul {
    list-style-type: symbols(cyclic "📜""📑""☎️""💸");
    margin: 0;
}

footer a {
    color: #54371b;
    text-decoration: none;
}


/* Text */

.font-white {
    color: white;
}

.text-shadow {
    text-shadow: 0 4px 12px #000A;
}
.text-center {
    text-align: center;
}


/* Emojis */

.lg-emoji {
    font-size: 4em !important;
}

.md-emoji {
    font-size: 2em !important;
}

.sm-emoji {
    font-size: 1.5em !important;
}

/* Abstand */
.mt-0 {
    margin-top: 0;
}

.float-right {
    float: right;
}